.App {
  text-align: center;
}

.input-box{
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.input-box input{
  padding: 10px;
}
.input-box label{
  text-align: left;
  margin-bottom: 4px;
}

.form-container{
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 500px;
  border: 1px solid black;
  padding: 20px;
}

.form-container button{
  width: 96%;
  padding: 10px;
  margin: 5px;
  background-color: blue;
  color: white;
}

.logout-btn{
  padding: 10px;
  margin: 5px;
  background-color: blue;
  color: white;
}
